<div class="body-content container-fluid text-center">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4 offset-0 offset-sm-3 offset-lg-4">
      <img class="rounded mt-2 mb-5 w-75 d-inline" src="/src/assets/images/default_user.png" alt="{{ user?.name }}">
      
        <ng-container *ngIf="!isEditing">
          <div class="col">
            <div class="mb-4">
              <h4>
                {{ 'view_user.name' | translate }}
              </h4>
              <p class="lead">
                {{ user?.name }}
              </p>
            </div>
            
            <div class="mt-4 mb-4">
              <h4>
                {{ 'view_user.birthdate' | translate }}
              </h4>
              <p class="lead">
                {{ user?.birthdate | date: 'fullDate' | titlecase }}
              </p>
            </div>

            <div class="row my-5">
              <div class="col-12 col-sm-6 mb-5 mb-sm-0">
                <input type="button" class="btn btn-success w-100" value="{{ 'view_user.edit' | translate }}" (click)="onStartEdition()" />
              </div>
              <div class="col-12 col-sm-6">
                <input type="button" class="btn btn-danger w-100" value="{{ 'view_user.delete' | translate }}" (click)="onDeleteUser()" />
              </div>
            </div>

          </div>
        </ng-container>

        <ng-container *ngIf="isEditing">
          <div class="col">
            <form [formGroup]="userForm">
              <div class="form-group mb-4">
                <h4>
                  {{ 'view_user.name' | translate }}
                </h4>
                <input type="text" class="form-control" formControlName="name"
                [ngClass]="{'control-invalid' : !formService.isValidatorValid(userForm, 'name', 'required') && formService.getControlState(userForm, 'name', 'touched'),
                'control-valid' : formService.isControlValid(userForm, 'name')}"
                id="name"
                placeholder="{{ 'view_user.name' | translate }}" />
                <ngb-alert *ngIf="!formService.isValidatorValid(userForm, 'name', 'required') && formService.getControlState(userForm, 'name', 'touched')"
                type="danger"
                [dismissible]="false">
                  {{ 'view_user.required_name' | translate }}
                </ngb-alert>
              </div>
              
              <div class="form-group mt-4 mb-4">
                <h4>
                  {{ 'view_user.birthdate' | translate }}
                </h4>
                <dl-date-time-picker
                [ngClass]="{'control-invalid' : !formService.isValidatorValid(userForm, 'birthdate', 'required') && formService.getControlState(userForm, 'birthdate', 'touched'),
                'control-valid' : formService.isControlValid(userForm, 'birthdate')}"
                id="birthdate"
                formControlName="birthdate"
                startView="day"
                maxView="year"
                minView="day">
                </dl-date-time-picker>
                <ngb-alert *ngIf="!formService.isValidatorValid(userForm, 'birthdate', 'required') && formService.getControlState(userForm, 'birthdate', 'touched')"
                type="danger"
                [dismissible]="false">
                  {{ 'view_user.required_birthdate' | translate }}
                </ngb-alert>
              </div>

              <div class="row my-5">
                <div class="col-12 col-sm-6 mb-5 mb-sm-0">
                  <ng-container *ngIf="userForm.valid && userForm.dirty">
                    <input type="button" class="btn btn-success w-100"
                    value="{{ 'view_user.accept' | translate }}"
                    (click)="onEditUser()" />
                  </ng-container>
                  <ng-container *ngIf="userForm.invalid || userForm.dirty">
                    <div *ngIf="userForm.invalid && userForm.dirty" class="d-inline-block w-100" placement="top" ngbTooltip="{{ 'view_user.tooltip_validation_error' | translate }}">
                      <input type="button" class="btn btn-success w-100"
                      disabled
                      value="{{ 'view_user.accept' | translate }}" />
                    </div>
                    <div *ngIf="userForm.pristine" class="d-inline-block w-100" placement="top" ngbTooltip="{{ 'view_user.tooltip_no_changes' | translate }}">
                      <input type="button" class="btn btn-success w-100"
                      disabled
                      value="{{ 'view_user.accept' | translate }}" />
                    </div>
                  </ng-container>
                </div>
                <div class="col-12 col-sm-6">
                  <input type="button" class="btn btn-secondary w-100"
                  value="{{ 'view_user.cancel' | translate }}"
                  (click)="onCancelEditing()" />
                </div>
              </div>

            </form>
          </div>
        </ng-container>

    </div>
  </div>
</div>